{% extends 'base.html.twig' %}

{% block title %}Hello VipController!{% endblock %}

{% block body %}
    <hgroup>
        <h1>Les codes promo</h1>
        <h3>Espace VIP</h3>
    </hgroup>

    {% for code in codes %}
        <article>
            <h2>{{ code.productName }} <mark>{{ code.rate }} %</mark></h2>
            <kbd>{{ code.code }}</kbd>
        </article>
    {% endfor %}
{% endblock %}
