{% extends 'base.html.twig' %}

{% block title %}Hello VipController!{% endblock %}

{% block body %}
    <hgroup>
        <h1>Les codes promo</h1>
        <h3>Espace VIP</h3>
    </hgroup>

    <article>
        <h2>Lorem.xyz <mark>50 %</mark></h2>
        <kbd>#454HKJ78974</kbd>
    </article>

    <article>
        <h2>ipsum.xyz <mark>33 %</mark></h2>
        <kbd>#787JK454JGK</kbd>
    </article>
    
{% endblock %}
