.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
}

.justify-content-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.gap-2 {
    gap: 2rem;
}

.items-center {
    align-items: center;
}

.mx-4 {
    margin: 4rem 0 4rem 0;
}

.my-2 {
    margin: 2rem 0 2rem 0;
}

.mb-2-5 {
    margin-bottom: 2.5rem;
}

.mt-8 {
    margin-top: 8rem;
}

.font-size-1-25 {
    font-size: 1.25rem;
}

.no-decoration {
    text-decoration: none;
}

.blue-400 {
    color: var(--pico-color-blue-200);
}

.zinc-350 {
    color: var(--pico-color-zinc-350);
}

.red-600 {
    color: var(--pico-color-blue-200);
}