<footer class="flex items-center justify-content-center mt-8">
    <div>
        <p>Copyright &copy; Share promo code - Tous droits réservés {{ date('now')|date('Y') }}</p>
        <p>made by <a class="text-primary" href="https://www.linkedin.com/in/baptiste-fotia">Baptiste Fotia</a></p>
    </div>
</footer>